@page "/file-management/"
@model Album.Areas.Admin.Pages.fileManagement.IndexModel
@{
    ViewData["Title"] = "Danh sách File";
}
<h1>Danh sách File</h1>

<form method="get" asp-page="./Index">
    <p>
        Title: <input type="text"  />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <form method="post">
        <thead>
            <tr>
                <th>
                    <div>
                        <label>Event</label>
                    </div>
                    
                </th>
                <th>
                    <div>
                        <label>Deadline</label>
                    </div>
                </th>
                <th>
                    <div>
                        <label>File</label>
                    </div>
                </th>
                <th>
                    <div>
                        <label>Select</label>
                    </div>
                </th>
                <th>
                    <div>
                        <input type="checkbox" name="vehicle1" asp-for="@Model.checkboxaa" checked=@Model.checkboxaa>
                        <label asp-for="checkboxaa"></label><br>
                    </div>
                </th>
            </tr>
        </thead>
        @*<tbody>
            @{
                foreach (var item in Model.FileManagementList)
                {
                    <tr>
                        <td >
                            <label asp-for="@item.NameEvent"></label>
                            <input asp-for="@item.NameEvent" value="@item.NameEvent" hidden/>
                        </td>
                        <td >
                            <label asp-for="@item.NameDeadline"></label>
                            <input asp-for="@item.NameDeadline" value="@item.NameDeadline" hidden />
                        </td>
                        <td >

                            <label asp-for="@item.NameFile"><a href="#">@item.NameFile</a></label>
                            <input asp-for="@item.NameFile" value="@item.NameDeadline" hidden />
                        </td>
                        <td asp-for="@item.FileSelect">
                            <input type="checkbox" name="vehicle1"  checked=@item.FileSelect asp-for="checkboxaa">
                            <label asp-for="@item.FileSelect" ></label><br>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }
        </tbody>*@

        <input type="submit" value="Save" asp-page="./index"  class="btn btn-primary"/>
        @*<input type="reset" value="Reset"/>*@
    </form>
</table>
    
